<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>掲示板</title>
</head>
<body>
<h2 th:text="${boardConfig.main}"></h2>
<div th:if="${errorMsg}">
    <h2 th:text="${errorMsg}"></h2>
</div>
<br />
<form role="form" th:action="${boardConfig.topUrl}" method="GET">
    <button type="submit">ログイン</button>
</form>
<form role="form" th:action="${boardConfig.registerInitUrl}" method="POST">
    <button type="submit">新規登録</button>
</form>
<form role="form" th:action="${boardConfig.messageInitUrl}" method="POST">
    <button type="submit">投稿</button>
</form>
<form role="form" th:action="${boardConfig.managementInitUrl}" method="POST">
    <button type="submit">ユーザー管理</button>
</form>
<form role="form" th:action="${boardConfig.logoutUrl}" method="POST">
    <button type="submit">ログアウト</button>
</form>
</body>
</html>