<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="./favicon.icon">
    <link rel="apple-touch-icon" sizes="180×180" href="./apple-touch-icon-180×180.png">
</head>
<body>
<a href="/">
    <img alt="Bulletin board" src="android-chrome-72x72.png">
</a>
<h2 th:text="${boardConfig.top}"></h2>
<div th:if="${errorMsg}">
    <h2 th:text="${errorMsg}"></h2>
</div>
<br />
<form role="form" th:action="${boardConfig.mainUrl}" th:object="${TopParam}" method="post">
    <p>USER NAME</p>
    <input type="text" id="userName" name="userName"/>
    <br />
    <p>PASSWORD</p>
    <input type="password" id="password" name="password"/>
    <br />
    <button type="submit">実行</button>
</form>
</body>
</html>